.option-container {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 2fr 5fr;
}

.time {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

.business-logo {
    grid-row: 2;
    grid-column: 1;
    padding: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-box {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 16px;
}