.option-container {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 2fr 5fr;
    background-color: white;
    border-radius: 16px;
    height: 13vh;
}

.option-container:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.time {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

.business-logo {
    grid-row: 2;
    grid-column: 1;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    border-radius: 16px;
}

.title-box {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    text-align: center;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    
}

.activity-name {
    grid-row: 1;
    grid-column: 2;
    color: black;
    font-weight: bold;
    text-align: center;
}