body{
    background-color: white;
}

.main2{
    display: block;
    width: 90%;
    background-color: white;
    padding: 10px;
    overflow: auto;
    border-radius: 8px;
}

.main2 h2 {
  color: rgb(42,193,145);
}

.main2::-webkit-scrollbar {
  width: 20px;
}

.main2::-webkit-scrollbar-thumb {
  background-color: rgb(218, 218, 218); /* Color of the thumb */
  border-radius: 8px;
}

.main2::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.session {
    padding: .5em;
    border-radius: 2px;
    font-size: 14px;
    box-shadow:
        rgba(255, 255, 255, .6) 1px 1px 4px 0,
        rgba(0, 0, 0, .3) 2px 2px 4px 0;
  }

  .title {
    display: flex;
    margin-left: 10px;
  }

  .title h4{
    color: #363062;
    opacity: 50%;
    margin-top: 30px;
    margin-left: 8px;
  }


  .track-1 {
    background-color: rgb(42,193,145);
    color: #fff;
  }
  
  .track-2 {
    background-color: rgb(42,193,145);
    color: #fff;
  }
  
  .track-3 {
    background-color: rgb(42,193,145);
    color: #fff;
  }
  
  .track-4 {
    background-color: rgb(42,193,145);
    color: #fff;
  }

  .track-5 {
    background-color: rgb(42,193,145);
    color: #fff;
  }
  
  .track-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #000;
    box-shadow: none;
  }

.session-title,
.session-time,
.session-address,
.session-activity {
  display: block;
}

.session-title{
    margin: 0em;
}

.track-slot,
.time-slot {
  font-weight: bold;
  font-size:.75em;
  margin: 0em;
}

.chart{
    display: grid;
    grid-template-rows: repeat(100, 0.5fr);
}

.fifty-percent-bar{
    grid-row: 51/101;
}

@media screen and (min-width: 700px) {
  .schedule {
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows:
      [tracks] auto
      [time-0800] 1fr
      [time-0900] 1fr
      [time-1000] 1fr
      [time-1100] 1fr
      [time-1200] 1fr
      [time-1300] 1fr
      [time-1400] 1fr
      [time-1500] 1fr
      [time-1600] 1fr
      [time-1700] 1fr
      [time-1800] 1fr
      [time-1900] 1fr
      [time-2000] 1fr
      [time-2100] 1fr
      [time-2200] 1fr
      [time-2300] 1fr
      [time-2400] 1fr;
    grid-template-columns:
      [times] 4em
      [track-1-start] 1fr
      [track-1-end track-2-start] 1fr
      [track-2-end track-3-start] 1fr
      [track-3-end track-4-start] 1fr
      [track-4-end track-5-start] 1fr
      [track-5-end];
  }

  .time-slot {
    grid-column: times;
  }
}