.main {
    width: 100vw;
    height: 100vh;
    background: #363062;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
}

.confirm-button {
    margin-top: 20px;
    width: 43%;
    height: 12%;
    border-radius: 32px;
    border: none;
    background-color: rgb(42, 193, 145);
    color: #363062;
    font-size: 24px;
    font-weight: bold;
}

.edits {
    background-color: white;
    height: 80%;
    width: 80%;
    display: flex;
    padding: 1%;
}

.info, .selection {
    width: 50%;
    height: 100%;
}

.info {
    background-color: rgb(42, 193, 145);
    overflow: fixed;
}

.info p {
    color: gray;
    font-size: 24px; /* Adjust the font size as needed */
    margin-top: 60%;
    align-items: center;
}

.inner-box {
    background-color: #fffffe;
    height: 100%;
    width: 85%;
    margin: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.rating {
    display: flex;
}

.rating svg {
    width: 20px; /* Adjust the width as needed */
}

.inner-box img {
    margin-top: 15px;
    height: 50%;
    width: 100%;
    border-radius: 10%;
}

.info h2 {
    margin: 8px 0; /* Adjust the margin as needed */
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selection h1 {
    margin-bottom: 0px;
}

.selection p {
    margin-top: 5px;
    color: rgb(42, 193, 145);
    font-size: 32px;
}

.options-border {
    background-color: rgb(196, 194, 194);
    padding: 2%;
    margin: 0 5%;
    margin-top: 0px;
    border-radius: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.options {
    height: 55vh;
    width: 60vh;
    overflow-y: auto;
    padding: 2%;
    background-color: rgb(196, 194, 194);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}
