.itinerary-box {
    width: 70%;
    padding: 2% 2% 2%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    color: #363062;
}

.schedule-box {
    max-height: 70vh;
    overflow: auto;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 16px;
    color: #363062;
}

.iten-title {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.iten-title svg{
    height: 6vh;
}

.options-border {
    background-color: #363062;
    border-radius: 16px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.options {
    height: 55vh;
    width: 60vh;
    border-radius: 8px;
    overflow-y: auto;
    padding: 5%;
    background-color: #363062;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
    justify-content: center;
}