.main {
    width: 100vw;
    height: 100vh;
    background: #363062;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(4px);
}

.box {
    position: absolute;
    font-size: 200%;
    font-family: 'Roboto Slab', serif;
    z-index: 2;
    width: 24%;
    height: 70%;
    background-color: #fffffe;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.dest{
    border:2px solid #b3b3b3;
    background:#dddddd;
    width:200px;
    border-radius:25px;
    margin-bottom: 15px;
}

.dest-flex{
    display: flex;
}

.dest-flex svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.date-flex{
    display: flex;
}

.date-flex svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.datepicker {
    border: 2px solid #b3b3b3;
    background: #dddddd;
    width: 200px;
    border-radius: 25px;
    margin-bottom: 100px;
}

.serviceName{
    font-size: 200%;
    color: rgb(42, 193, 145);
    margin-bottom: 5px;
}

.text{   
    margin-bottom: 60px;
}

.submit{
    width: 30%;
    height: 10%;
    border-radius: 32px;
    border-color: rgb(42, 193, 145);
    background-color: rgb(42, 193, 145);
}