.main {
    width: 100vw;
    height: 100vh;
    background: #363062;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(4px);
}

.box {
    position: absolute;
    font-size: 200%;
    font-family: 'Roboto Slab', serif;
    z-index: 2;
    width: 30%;
    height: 60%;
    background-color: #fffffe;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 3% 3%;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.dest{
    border:2px solid #b3b3b3;
    background:#dddddd;
    width:180px;
    border-radius:25px;
    margin-bottom: 10px;
    padding: 4px 10px;
    font-weight: bold;
    color: #363062;
}

.dest:focus{
    border: 2px solid #626060;
    outline: none;
}

.dest-flex{
    display: flex;
}

.dest-flex svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 1%;
}

.date-flex{
    display: flex;
}

.date-flex svg{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 8%;
}

.datepicker {
    border: 2px solid #b3b3b3;
    background: #dddddd;
    width: 180px;
    border-radius: 25px;
    margin-bottom: 40px;
    padding: 4px 10px;
    font-weight: bold;
    color: #363062;
}

.datepicker:focus {
    outline: none;
    border: 2px solid #626060;
}

.serviceName{
    font-size: 200%;
    color: rgb(42, 193, 145);
    margin-bottom: 1px;
}

.text{   
    margin-bottom: 30px;
}

.submit{
    width: 33%;
    height: 12%;
    border-radius: 32px;
    border: none;
    background-color: rgb(42, 193, 145);
    color: #363062;
    font-size: 24px;
    font-weight: bold;
}

.submit:hover{
    cursor: pointer;
    filter:brightness(85%);
}